<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link type="text/css" th:href="@{/css/admin-style.css}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/css.css}">
    <link rel="stylesheet" th:href="@{/css/restaurant-list.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/admin.js}"></script>
    <script type="text/javascript" th:src="@{/js/admin/basic.js}"></script>
    <title>WAITING CATCH 관리자</title>
</head>
<body>
<header>
    <a href="/admin/templates/main">
        <div>WAITING CATCH</div>
    </a>
    <nav>
        <ul>
            <a href="/">관리자 님</a>
            <a href="#" onclick="sendTokenDelete();">Logout</a>
        </ul>
    </nav>
</header>

<nav class="menus">
    <ul>
        <a href="/admin/templates/seller-management">판매자요청</a>
        <a href="/admin/templates/customers">유저 목록</a>
        <a href="/admin/templates/restaurants" style="color: #8B60C7">레스토랑 목록</a>
        <a href="/admin/templates/event">이벤트</a>
        <a href="/admin/templates/blacklist">블랙리스트</a>
        <a href="/admin/templates/category">카테고리</a>
    </ul>
</nav>


<div class="body">
    <h1 style="color: #8B60C7">레스토랑 목록</h1>
    <form th:action="@{/admin/templates/restaurants}" method="get">
        <input type="text" name="searchVal" th:name="searchVal">
        <button type="submit">검색</button>
    </form>

    <div class="restaurantList">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">번호</th>
                <th scope="col">매장명</th>
                <th scope="col">이미지</th>
                <th scope="col">매장번호</th>
                <th scope="col">설명</th>
                <th scope="col">키워드</th>
                <th scope="col">사업자번호</th>
                <th scope="col">주소</th>
                <th scope="col">삭제여부</th>
                <th scope="col">사업자이름</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody id="restaurantListTable">
            <div th:each="restaurant, iStat : ${restaurants}">
                <tr>
                    <th scope="row" th:text="${restaurant.id}">1</th>
                    <td th:text="${restaurant.restaurantName}"></td>
                    <td th:text="${restaurant.images}"></td>
                    <td th:text="${restaurant.phoneNumber}"></td>
                    <td th:text="${restaurant.description}"></td>
                    <td th:text="${restaurant.searchKeywords}"></td>
                    <td th:text="${restaurant.businessNo}"></td>
                    <td th:text="${restaurant.address} + ' ' + ${restaurant.detailAddress}"></td>
                    <td th:text="${restaurant.deleted}"></td>
                    <td th:text="${restaurant.name}"></td>
                    <td>
                        <div class="restaurantBtn">
                            <button type="button" class="btn" value="거절">리뷰</button>
                            <form th:action="@{'/admin/templates/restaurants/' + ${restaurant.id}}"
                                  th:method="delete">
                                <div class="form-group">
                                    <button type="submit" class="btn" value="거절">삭제</button>
                                </div>
                            </form>
                        </div>
                    </td>
                </tr>
            </div>
            </tbody>
        </table>
    </div>
</div>

<!-- 페이징 -->

<nav class="pagenav">
    <!--표에 사용될 변수값 초기화 -->
    <ul class="pagination"
        th:with="start=${T(java.lang.Math).floor(restaurants.number/10)*10 },
                    last=(${start + 9 < restaurants.totalPages -1 ? start + 9 : restaurants.totalPages -1 })">
        <th:block th:with="
                firstAddr=@{/admin/templates/restaurants(page=0, searchVal=${param.searchVal})},
                prevAddr=@{/admin/templates/restaurants(page=${restaurants.number -1}, searchVal=${param.searchVal})},
                nextAddr=@{/admin/templates/restaurants(page=${restaurants.number + 1}, searchVal=${param.searchVal})},
                lastAddr=@{/admin/templates/restaurants(page=${restaurants.totalPages -1}, searchVal=${param.searchVal})}">
            <li>
                <a th:href="${firstAddr}" aria-label="First">
                    <span class="firstpage" aria-hidden="true"><<</span>
                </a>
            </li>
            <!-- 이전 페이지로 가기 버튼 -->
            <li th:class="${restaurants.first} ? 'disabled'">
                <a th:href="${restaurants.first} ? '#' :${prevAddr}"
                   aria-label="Previous">
                    <span class="restaurantPage1" aria-hidden="true">&lt;</span>
                </a>
            </li>
            <!--1,2,3,4,.. 등 페이지-->
            <li th:each="page: ${#numbers.sequence(start, last)}"
                th:class="${page == restaurants.number + 1} ? 'active'">
                <a class="restaurantPage" th:text="${page}"
                   th:href="@{/admin/templates/restaurants(page=${page}, searchVal=${param.searchVal})}"></a>
            </li>
            <!--다음 페이지로 -->
            <li th:class="${restaurants.last} ? 'disabled'">
                <a th:href="${restaurants.last} ? '#' : ${nextAddr}"
                   aria-label="Next">
                    <span class="restaurantPage2" aria-hidden="true">&gt;</span>
                </a>
            </li>
            <!--맨 마지막 페이지로 이동 -->
            <li>
                <a th:href="${lastAddr}" aria-label="Last">
                    <span class="lastpage" aria-hidden="true">>></span>
                </a>
            </li>
        </th:block>
    </ul>
</nav>

<!-- 페이징끝 -->


<!-- 검색기능 -->

<!--<div>-->
<!--    <div>검색</div>-->
<!--    <select th:field="*{categories}" class="form-select">-->
<!--        <option value="">검색 방식</option>-->
<!--        <option th:each="category : ${categories}" th:value="${category.codeName}"-->
<!--                th:text="${category.displayName}">FAST-->
<!--        </option>-->
<!--    </select>-->
<!--</div>-->

<script th:inline="javascript">
    $(document).ready(function () {
            const token = [[${accessToken}]];
            if (token) {
                document.cookie =
                    'Authorization' + "=" + token + "; " +
                    "path=/; expires=" + (new Date().getTime() + 30 * 60000) + ";";
            }
        }
    )
</script>
</body>
</html>