### macOS ###
.DS_Store
.AppleDouble
.LSOverride

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Proejct settings ###
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
**/src/**/resources/.vscode

**/src/main/resources/application-local.properties
**/src/main/resources/application-dev.properties
**/src/main/resources/application-prod.properties
**/src/main/resources/agent.tar.gz
**/src/main/resources/agent/**


### Querydsl ###
/src/main/generated/
/src/test/generated_tests/