<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<tr th:each="event : ${events}">
    <td th:text="${event.name}"></td>
    <td th:text="${event.eventStartDate}"></td>
    <td th:text="${event.eventEndDate}"></td>
    <td th:text="${event.couponCreators}"></td>
    >
</tr>
</body>
<!--<script>-->
<!--    $(document).ready(function () {-->
<!--        $.ajax({-->
<!--            url: "/event-info",-->
<!--            method: 'get',-->
<!--            headers: {-->
<!--                'Authorization': localStorage.getItem("accessToken"),-->
<!--            },-->
<!--            success: function (response) {-->

<!--            }-->
<!--        })-->
<!--    })-->
<!--</script>-->
</html>