<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>이벤트 페이지</title>
</head>
<body>
<h1>이벤트페이지</h1>

<!--<td>-->
<!--    <a th:href="@{/event}" th:method="get" enctype="multipart/form-data">-->
<!--        <button onclick="sendTokenInfo()" type=" button">이벤트 목록 가저오기-->
<!--        </button>-->
<!--    </a>-->
<!--</td>-->
<!--<a href="/event-info">-->
<!--    <button type="text">이벤트 목록 가저오기</button>-->
<!--</a>-->
<a href="/event/new">
    <button type="text">새로운 이벤트 생성</button>
</a>
<!--<a href="/event/couponcreator">-->
<!--    <button type="text">이벤트에 쿠폰생성자 생성</button>-->
<!--</a>-->
<!--<a href="/event-update">-->
<!--    <button type="text">이벤트 수정하기</button>-->
<!--</a>-->
<a href="/event-updatecreater">
    <button type="text">쿠폰생성자 수정하기</button>
</a>
<a href="/event-delete">
    <button type="text">이벤트 삭제하기</button>
</a>


<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>이벤트 이름　</th>
                <th>시작 시간　</th>
                <th>종료 시간　</th>
                <th>하위 쿠폰목록　　</th>
                <th>쿠폰생성자 추가　</th>
                <th>이벤트 수정　</th>
                <th>이벤트 삭제</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="event : ${events}">
                <td th:text="${event.name}"></td>
                <td th:text="${event.eventStartDate}"></td>
                <td th:text="${event.eventEndDate}"></td>
                <td>
                    <ul>
                        <li th:each="couponCreator : ${event.couponCreators}">
                            <span th:text="${couponCreator.name}"></span>
                            <span th:text="${couponCreator.discountPrice}"></span>
                            <span th:text="${couponCreator.discountType}"></span>
                            <span th:text="${couponCreator.expireDate}"></span>
                            <a th:href="@{/event/updateCouponCreator/{eventId}/{creatorId}(eventId=${event.eventId},creatorId=${couponCreator.id})}">
                                <button type="button">수정</button>
                            </a>
                        </li>
                    </ul>
                </td>
                <td>
                    <a th:href="@{/event/couponcreator/{eventId}(eventId=${event.eventId})}">
                        <button type="button">추가</button>
                    </a>
                </td>
                <td>
                    <a th:href="@{/event/update/{eventId}(eventId=${event.eventId})}">
                        <button type="button">수정</button>
                    </a>
                </td>
                <td>
                    <a th:href="@{/event/delete/{eventId}(eventId=${event.eventId})}" th:method="delete">
                        <button type="button">삭제</button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->


<!--<script>-->
<!--    $(document).ready(function () {-->
<!--        $.ajax({-->
<!--            url: "/event-info",-->
<!--            method: 'get',-->
<!--            headers: {-->
<!--                'Authorization': localStorage.getItem("accessToken"),-->
<!--            },-->
<!--            success: function (response) {-->

<!--            }-->
<!--        })-->
<!--    })-->
<!--</script>-->
</body>
</html>
