<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>메뉴추가</title>
</head>
<body>
<h1>메뉴추가</h1>
<form th:action="@{/api/seller/menu/new}" method="post" enctype="multipart/form-data">
    <label for="name">name</label>
    <input type="text" id="name" name="name"><br>
    <label for="price">price</label>
    <input type="text" id="price" name="price"><br>
    <label for="image">이미지 선택:</label>
    <input type="file" id="image" name="image"><br>
    <button type="submit">등록</button>
</form>
</body>
</html>
