<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h1>Register Page</h1>
<form action="/signup" method="post">
    <label for="username">Username</label>
    <input type="text" id="username" name="username"><br>
    <label for="name">name</label>
    <input type="text" id="name" name="name"><br>
    <label for="email">Email</label>
    <input type="email" id="email" name="email"><br>
    <label for="phoneNumber">phoneNumber</label>
    <input type="text" id="phoneNumber" name="phoneNumber"><br>
    <label for="restaurantName">restaurantName</label>
    <input type="text" id="restaurantName" name="restaurantName"><br>
    <label for="categories">categories</label>
    <input type="text" id="categories" name="categories"><br>
    <label for="description">description</label>
    <input type="text" id="description" name="description"><br>
    <label for="businessLicenseNo">businessLicenseNo</label>
    <input type="text" id="businessLicenseNo" name="businessLicenseNo"><br>
    <label for="latitude">latitude</label>
    <input type="text" id="latitude" name="latitude"><br>
    <label for="longitude">longitude</label>
    <input type="text" id="longitude" name="longitude"><br>
    <label for="province">province</label>
    <input type="text" id="province" name="province"><br>
    <label for="city">city</label>
    <input type="text" id="city" name="city"><br>
    <label for="street">street</label>
    <input type="text" id="street" name="street"><br>
    <label for="searchKeyWords">searchKeyWords</label>
    <input type="text" id="searchKeyWords" name="searchKeyWords"><br>
    <button type="submit">등록</button>
</form>
</body>
</html>
