<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link type="text/css" th:href="@{/css/admin-style.css}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/admin/basic.js}"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        let query = '';

        function sample6_execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function (data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var addr = ''; // 주소 변수
                    var extraAddr = ''; // 참고항목 변수

                    //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                        addr = data.roadAddress;
                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                        addr = data.jibunAddress;
                    }

                    // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                    // if (data.userSelectedType === 'R') {
                    //     // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    //     // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    //     if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                    //         extraAddr += data.bname;
                    //     }
                    //     // 건물명이 있고, 공동주택일 경우 추가한다.
                    //     if (data.buildingName !== '' && data.apartment === 'Y') {
                    //         extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    //     }
                    //     // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    //     if (extraAddr !== '') {
                    //         extraAddr = ' (' + extraAddr + ')';
                    //     }
                    //     // 조합된 참고항목을 해당 필드에 넣는다.
                    //     document.getElementById("sample6_extraAddress").value = extraAddr;
                    //
                    // } else {
                    //     document.getElementById("sample6_extraAddress").value = '';
                    // }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('sample6_postcode').value = data.zonecode;
                    document.getElementById("sample6_address").value = addr;
                    query = data.query;
                    // 커서를 상세주소 필드로 이동한다.
                    document.getElementById("sample6_detailAddress").focus();
                }
            }).open();
        }

        $(document).ready(function () {
            $('.selectCategoryBox').hide();
        })

        let selectedCategory = '';

        function openSelectCategory() {
            $('.selectParentCategoryBox').empty();
            $('.selectChildCategoryBox').empty();
            $('.selectGrandChildCategoryBox').empty();
            $('.selectCategoryBox').show();

            $.ajax({
                type: 'GET',
                url: `/api/general/categories`,
                success: function (response, status) {
                    let responseList = response.data;
                    console.log(responseList)
                    if (status === 'success') {
                        for (let i = 0; i < responseList.length; i++) {
                            let responseDto = responseList[i];
                            let tempHtml = parentCategoryBox(responseDto);
                            $('.selectParentCategoryBox').append(tempHtml);
                        }
                    }
                },
                error(error, response) {
                    console.error(error);
                }
            })
        }

        function parentCategoryBox(responseDto) {
            return `<div class="parentCategoryElement">
                        <span>${responseDto.name}</span>
                        <div class="categoryButtons">
                        <input type="button" onclick="getChildCategory(${responseDto.id}); selectCategory(${responseDto.id})" class="btn" value="선택">
                        </div>
                    </div>`
        }

        function selectCategory(id) {
            selectedCategory += id + ' ';
            console.log(selectedCategory);
            document.getElementById("categories").value = selectedCategory;
        }

        function getChildCategory(parentId) {
            $('.selectChildCategoryBox').empty();

            $.ajax({
                type: 'GET',
                url: `/api/general/categories/` + parentId,
                success: function (response, status) {
                    let responseList = response.data;
                    console.log(responseList)
                    if (status === 'success') {
                        for (let i = 0; i < responseList.length; i++) {
                            let responseDto = responseList[i];
                            let tempHtml = childCategoryBox(responseDto);
                            $('.selectChildCategoryBox').append(tempHtml);
                        }
                    }
                },
                error(error, response) {
                    console.error(error);
                }
            })
        }

        function childCategoryBox(responseDto) {
            return `<div class="parentCategoryElement">
                        <span>${responseDto.name}</span>
                        <div class="categoryButtons">
                        <input type="button" onclick="getGrandChildCategory(${responseDto.id}); selectCategory(${responseDto.id})" class="btn" value="선택">
                        </div>
                    </div>`
        }

        function getGrandChildCategory(parentId) {
            $('.selectGrandChildCategoryBox').empty();

            $.ajax({
                type: 'GET',
                url: `/api/general/categories/` + parentId,
                success: function (response, status) {
                    let responseList = response.data;
                    console.log(responseList)
                    if (status === 'success') {
                        for (let i = 0; i < responseList.length; i++) {
                            let responseDto = responseList[i];
                            let tempHtml = grandChildCategoryBox(responseDto);
                            $('.selectGrandChildCategoryBox').append(tempHtml);
                        }
                    }
                },
                error(error, response) {
                    console.error(error);
                }
            })
        }

        function grandChildCategoryBox(responseDto) {
            return `<div class="parentCategoryElement">
                        <span>${responseDto.name}</span>
                        <div class="categoryButtons">
                        <input type="button" onclick="selectCategory(${responseDto.id})" class="btn" value="선택">
                        </div>
                    </div>`
        }

        function createSellerRequest() {
            let username = $('#username').val();
            let name = $('#name').val();
            let email = $('#email').val();
            let phoneNumber = $('#phoneNumber').val();
            let businessLicenseNo = $('#businessLicenseNo').val();
            let restaurantName = $('#restaurantName').val();
            let categories = $('#categories').val();
            let description = $('#description').val();
            let zipCode = $('#sample6_postcode').val();
            let address = $('#sample6_address').val();
            let detailAddress = $('#sample6_detailAddress').val();

            $.ajax({
                type: 'POST',
                url: `/api/seller/demand`,
                contentType: "application/json",
                data: JSON.stringify({
                    username: username,
                    name: name,
                    email: email,
                    phoneNumber: phoneNumber,
                    businessLicenseNo: businessLicenseNo,
                    restaurantName: restaurantName,
                    categories: categories,
                    description: description,
                    zipCode: zipCode,
                    address: address,
                    detailAddress: detailAddress,
                    query: query
                }),
                success: function (response) {
                    alert("판매자 요청 완료")
                    window.location.reload();
                },
                error(error, response) {
                    console.log(this.data);
                    console.error(error);
                }
            })
        }
    </script>
    <title>Register</title>
</head>
<body>
<div class="body">
    <header class="register" style="background-color: white">
        <h1>Register Page</h1>
    </header>
    <!--<h1>Register Page</h1>-->
    <!--    <form action="/signup" method="post" class="register-wrap">-->
    <h2 style="color: #8B60C7; width: 90%; margin: 5px auto 5px auto">기본 정보</h2>
    <div class="input-group flex-nowrap">
        <span class="input-group-text">ID</span>
        <input type="text" id="username" class="form-control" placeholder="Username" aria-label="Username"
               aria-describedby="addon-wrapping">
    </div>
    <!--        <input type="text" id="username" name="username" class="register-input" placeholder="Username">-->
    <div class="input-group flex-nowrap">
        <span class="input-group-text">이름</span>
        <input type="text" id="name" class="form-control" placeholder="Name" aria-label="Name"
               aria-describedby="addon-wrapping">
    </div>
    <!--        <input type="text" id="name" name="name" class="register-input" placeholder="name">-->
    <div class="input-group flex-nowrap">
        <span class="input-group-text">Email</span>
        <input type="text" id="email" class="form-control" placeholder="Email" aria-label="Email"
               aria-describedby="addon-wrapping">
    </div>
    <!--        <input type="email" id="email" name="email" class="register-input" placeholder="Email">-->
    <div class="input-group flex-nowrap">
        <span class="input-group-text">전화번호</span>
        <input type="text" id="phoneNumber" class="form-control" placeholder="PhoneNumber" aria-label="PhoneNumber"
               aria-describedby="addon-wrapping">
    </div>
    <div class="input-group flex-nowrap">
        <span class="input-group-text">사업자번호</span>
        <input type="text" id="businessLicenseNo" class="form-control" placeholder="ex) 000-00-00000"
               aria-label="BusinessLicenseNo" aria-describedby="addon-wrapping">
    </div>
    <!--        <input type="text" id="phoneNumber" name="phoneNumber" class="register-input" placeholder="phoneNumber">-->
    <br>
    <h2 style="color: #8B60C7; width: 90%; margin: 5px auto 5px auto">레스토랑 정보</h2>
    <div class="input-group flex-nowrap">
        <span class="input-group-text">가게명</span>
        <input type="text" id="restaurantName" class="form-control" placeholder="RestaurantName"
               aria-label="RestaurantName" aria-describedby="addon-wrapping">
    </div>
    <!--        <input type="text" id="restaurantName" name="restaurantName" class="register-input"-->
    <!--               placeholder="restaurantName">-->
    <div class="input-group flex-nowrap">
        <span class="input-group-text">카테고리</span>
        <input type="text" id="categories" class="form-control" placeholder="Categories" aria-label="Categories"
               aria-describedby="addon-wrapping" readonly>
        <input onclick="openSelectCategory()" type="button" value="카테고리 선택">
    </div>
    <div class="selectCategoryBox">
        <div class="selectParentCategoryBox"></div>
        <div class="selectChildCategoryBox"></div>
        <div class="selectGrandChildCategoryBox"></div>
    </div>
    <!--        <input type="text" id="categories" name="categories" class="register-input" placeholder="categories">-->
    <div class="input-group flex-nowrap">
        <span class="input-group-text">설명</span>
        <input type="text" id="description" class="form-control" placeholder="Description" aria-label="Description"
               aria-describedby="addon-wrapping">
    </div>
    <!--        <input type="text" id="description" name="description" class="register-input" placeholder="description">-->

    <!--        <input type="text" id="businessLicenseNo" name="businessLicenseNo" class="register-input"-->
    <!--               placeholder="businessLicenseNo">-->

    <div class="input-group flex-nowrap">
        <span class="input-group-text">우편번호</span>
        <input type="text" id="sample6_postcode" class="form-control" placeholder="우편번호" aria-label="Postcode"
               aria-describedby="addon-wrapping">
        <input onclick="sample6_execDaumPostcode()" type="button" value="우편번호 찾기">
    </div>
    <div class="input-group flex-nowrap">
        <span class="input-group-text">주소</span>
        <input type="text" id="sample6_address" class="form-control" placeholder="주소" aria-label="Address"
               aria-describedby="addon-wrapping">
    </div>
    <div class="input-group flex-nowrap">
        <span class="input-group-text">상세주소</span>
        <input type="text" id="sample6_detailAddress" class="form-control" placeholder="상세주소"
               aria-label="DetailAddress" aria-describedby="addon-wrapping">
    </div>
    <!--        <input type="text" id="province" name="province" class="register-input" placeholder="province">-->
    <!--        <input type="text" id="city" name="city" class="register-input" placeholder="city">-->
    <!--        <input type="text" id="street" name="street" class="register-input" placeholder="street">-->
    <!--        <input type="text" id="searchKeyWords" name="searchKeyWords" class="register-input"-->
    <!--               placeholder="searchKeyWords">-->
    <button onclick="createSellerRequest()" type="submit" class="login-btn">등록</button>
    <!--    </form>-->
</div>
</body>
</html>