<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>판매자 관리</title>
</head>
<body>
<h1>판매자 관리</h1>
<td>
    <a th:href="@{/hello}" th:method="get" enctype="multipart/form-data">
        <button onclick="sendTokenLogout()" type=" button">로그아웃
        </button>
    </a>
</td>
<td>
    <a th:href="@{/hello}" th:method="get" enctype="multipart/form-data">
        <button onclick="sendTokenDelete()" type=" button">회원탈퇴
        </button>
    </a>
</td>
<a th:href="@{/seller/infos}" th:method="get" enctype="multipart/form-data">
    <button type="button">판매자 정보 수정</button>
</a>

<script>


    function sendTokenLogout() {
        fetch("/seller/logout", {
            method: 'get',
            headers: {
                'content-type': 'application/json',
                'Authorization': localStorage.getItem("accessToken"),
            }
        })
        localStorage.removeItem('accessToken');
    }

    function sendTokenDelete() {
        fetch("/seller/delete", {
            method: 'get',
            headers: {
                'content-type': 'application/json',
                'Authorization': localStorage.getItem("accessToken"),
            }
        })
        localStorage.removeItem('accessToken');
    }

</script>
</body>
</html>
