<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>레스토랑 수정</title>
</head>
<body>
<h1>레스토랑 수정</h1>
<form th:action="@{/seller/updaterestaurant}" method="post" enctype="multipart/form-data">
    <input type="hidden" name="_method" value="PUT"/>
    <label for="phoneNumber">phoneNumber</label>
    <input type="text" id="phoneNumber" name="phoneNumber"><br>
    <label for="capacity">capacity</label>
    <input type="text" id="capacity" name="capacity"><br>
    <label for="description">description</label>
    <input type="text" id="description" name="description"><br>
    <label for="openTime">openTime</label>
    <input type="text" id="openTime" name="openTime"><br>
    <label for="closeTime">closeTime</label>
    <input type="text" id="closeTime" name="closeTime"><br>
    <label for="files">이미지 선택</label>
    <input type="file" id="files" name="files"><br>
    <button type="submit">등록</button>
</form>
</body>
</html>