<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div id="blacklistDemandList">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>이름</th>
            <th>사유</th>
            <th>상태</th>
            <th>등록 시간</th>
            <th>수정 시간</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="blacklistDemand : ${blacklistDemandList}">
            <td th:text="${blacklistDemand.customerName}"></td>
            <td th:text="${blacklistDemand.description}"></td>
            <td th:text="${blacklistDemand.status.value}"></td>
            <td th:text="${blacklistDemand.createdDate}"></td>
            <td th:text="${blacklistDemand.modifiedDate}"></td>
            <td>
                <button type="button" th:onclick="cancel([[${blacklistDemand.id}]])">취소</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script>
    function cancel(blacklistDemandId) {
        $.ajax({
            url: `/seller/blacklist-demands/${blacklistDemandId}`,
            type: 'DELETE',
            headers: {
                'Authorization': localStorage.getItem('accessToken')
            },
            success: function () {
                alert("블랙리스트 신청 취소 처리 완료");
                window.location.reload();
            },
            error: function (response) {
                console.log(response);
            }
        })
    }
</script>
</html>