<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>블랙리스트 요청</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<body>
<button type="button" onclick="createBlacklistDemand()">블랙리스트 요청</button>
<div id="blacklistDemandList"></div>
</body>
<script>
    $(document).ready(function () {
        $.ajax({
            url: '/seller/restaurant/blacklist-demands',
            type: 'GET',
            headers: {
                'Authorization': localStorage.getItem('accessToken')
            }
        }).done(function (result) {
            $('#blacklistDemandList').replaceWith(result);
        })
    });

    function createBlacklistDemand() {
        window.location.href=
    }
</script>
</html>