<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>이벤트 수정</title>
</head>
<body>
<h1>이벤트 수정</h1>
<form th:action="@{/api/seller/events/{eventId}/update(eventId=${eventId})}" method="post"
      enctype="multipart/form-data">
    <input type="hidden" name="_method" value="PUT"/>
    <label for="name">name</label>
    <input type="text" id="name" name="name"><br>
    <label for="eventStartDate">eventStartDate</label>
    <input type="datetime-local" id="eventStartDate" name="eventStartDate"><br>
    <label for="eventEndDate">eventEndDate</label>
    <input type="datetime-local" id="eventEndDate" name="eventEndDate"><br>
    <button type="submit">등록</button>
</form>
</body>
</html>