<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>쿠폰생성자 수정</title>
</head>
<body>
<h1>쿠폰 생성자 수정</h1>
<form th:action="@{/api/seller/event/updateCouponCreator/{eventId}/{creatorId}/{creatorId}(eventId=${eventId},creatorId=${creatorId})}"
      method="post" enctype="multipart/form-data">
    <input type="hidden" name="_method" value="PUT"/>
    <label for="name">name</label>
    <input type="text" id="name" name="name"><br>
    <label for="discountPrice">discountPrice</label>
    <input type="text" id="discountPrice" name="discountPrice"><br>
    <label for="discountType">discountType</label>
    <input type="text" id="discountType" name="discountType"><br>
    <label for="quantity">quantity</label>
    <input type="text" id="quantity" name="quantity"><br>
    <label for="expireDate">expireDate</label>
    <input type="datetime-local" id="expireDate" name="expireDate"><br>
    <button type="submit">등록</button>
</form>
</body>
</html>