<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>줄서기 현황</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link type="text/css" th:href="@{/css/admin-style.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/admin/basic.js}"></script>
</head>
<body>
<header>
    <a href="/seller/templates/lineup">
        <div>WAITING CATCH</div>
    </a>
    <nav>
        <ul>
            <a href="/">판매자 님</a>
            <a href="hello.html" th:href="@{/hello}" th:method="get">
                <button onclick="sendTokenLogout()" type="button" class="btn">Logout</button>
            </a>
        </ul>
    </nav>
</header>
<nav class="menus">
    <ul>
        <a href="/seller/templates/lineup" style="color: #8B60C7">줄서기 현황</a>
        <a href="/seller">매장 관리</a>
        <a href="/menu">메뉴</a>
        <a href="/event">이벤트</a>
        <a href="/seller/templates/blacklist-demands">블랙리스트</a>
    </ul>
</nav>
<div class="body">
    <div class="lineup-main">
        <h1 style="color: #8B60C7">줄서기 현황</h1>
        <div class="lineup-button">
            <button type="button" onclick="openLineup()" class="btn">줄서기 오픈</button>
            <button type="button" onclick="closeLineup()" class="btn">줄서기 마감</button>
        </div>
    </div>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>순번</th>
                <th>이름</th>
                <th>인원</th>
                <th>상태</th>
                <th>대기 시작 시간</th>
                <th>도착 시간</th>
                <th>호출 횟수</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody id="lineup">

            </tbody>
        </table>
    </div>
</div>
</body>
<script>
    $(document).ready(function () {
        lineupList();
    });

    function lineupList() {
        $.ajax({
            type: 'GET',
            url: '/api/seller/lineup',
            data: {},
            headers: {
                'Authorization': localStorage.getItem('accessToken')
            },
            success: function (response) {
                let rows = response['data'];
                for (let i = 0; i < rows.length; i++) {
                    let id = rows[i]['id'];
                    let userId = rows[i]['userId'];
                    let waitingNumber = rows[i]['waitingNumber'];
                    let name = rows[i]['name'];
                    let numOfMembers = rows[i]['numOfMembers'];
                    let status = rows[i]['status'];
                    let callCount = rows[i]['callCount'];
                    let startedAt = rows[i]['startedAt'];
                    let arrivedAt = rows[i]['arrivedAt'];

                    let temp_html = `<tr>
                                        <td>${waitingNumber}</td>
                                        <td>${name}</td>
                                        <td>${numOfMembers}</td>
                                        <td>${status}</td>
                                        <td>${startedAt}</td>
                                        <td>${arrivedAt}</td>
                                        <td>${callCount}</td>
                                        <td>
                                            <button type="button" class="btn" onclick="call('${id}')">고객 호출</button>
                                        </td>
                                        <td>
                                            <button type="button" class="btn" onclick="arrive('${id}')">고객 도착</button>
                                        </td>
                                        <td>
                                            <button type="button" class="btn" onclick="cancel('${id}')">취소</button>
                                        </td>
                                        <td>
                                            <button type="button" class="btn" data-bs-toggle="modal"
                                                    data-bs-target="#exampleModal${id}" data-bs-whatever="@mdo">블랙리스트 신청
                                            </button>
                                        </td>
                                        <td>
                                            <div class="modal fade" id="exampleModal${id}" tabindex="-1" aria-labelledby="exampleModalLabel${id}" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="exampleModalLabel${id}">블랙리스트 신청</h1>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form>
                                                                <div>
                                                                    <input type="text" id="userId${id}" name="userId${id}" value="${userId}" hidden="hidden">
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label for="name${id}" class="col-form-label">이름: </label>
                                                                    <input type="text" class="form-control" id="name${id}" value="${name}" readonly="readonly">
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label for="description${id}" class="col-form-label">사유: </label>
                                                                    <textarea class="form-control" id="description${id}" name="description"></textarea>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-primary"
                                                                            onclick="submitBlacklistDemand('${id}')">신청
                                                                    </button>
                                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소
                                                                    </button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>`;
                    $('#lineup').prepend(temp_html);
                }
            },
        });
    }

    function call(lineupId) {
        const data = {'status': 'CALL'};
        $.ajax({
            url: `/api/seller/lineup/${lineupId}/status`,
            data: JSON.stringify(data),
            contentType: 'application/json',
            type: 'PUT',
            headers: {
                'Authorization': localStorage.getItem('accessToken')
            },
            success: function () {
                alert("고객 호출 완료");
                window.location.reload();
            },
            error: function (response) {
                alert(response.responseJSON.message);
            }
        })
    }

    function arrive(lineupId) {
        const data = {'status': 'ARRIVE'};
        $.ajax({
            url: `/api/seller/lineup/${lineupId}/status`,
            data: JSON.stringify(data),
            contentType: 'application/json',
            type: 'PUT',
            headers: {
                'Authorization': localStorage.getItem('accessToken')
            },
            success: function () {
                alert("고객 도착 처리 완료");
                window.location.reload();
            },
            error: function (response) {
                alert(response.responseJSON.message);
            }
        })
    }

    function cancel(lineupId) {
        const data = {'status': 'CANCEL'};
        $.ajax({
            url: `/api/seller/lineup/${lineupId}/status`,
            data: JSON.stringify(data),
            contentType: 'application/json',
            type: 'PUT',
            headers: {
                'Authorization': localStorage.getItem('accessToken')
            },
            success: function () {
                alert("줄서기 취소 처리 완료");
                window.location.reload();
            },
            error: function (response) {
                alert(response.responseJSON.message);
            }
        })
    }

    function submitBlacklistDemand(lineupId) {
        let userId = document.getElementById('userId' + lineupId).value;
        let description = document.getElementById('description' + lineupId).value;
        $.ajax({
            url: `/api/seller/blacklist-demands`,
            data: JSON.stringify({userId: userId, description: description}),
            contentType: 'application/json',
            type: 'POST',
            headers: {
                'Authorization': localStorage.getItem('accessToken')
            },
            success: function () {
                alert("블랙리스트 신청 완료");
                window.location.reload();
            },
            error: function (response) {
                alert(response.responseJSON.message);
            }
        })
    }

    function openLineup() {
        $.ajax({
            url: '/api/seller/open-lineup',
            type: 'PUT',
            headers: {
                'Authorization': localStorage.getItem('accessToken')
            },
            success: function () {
                alert("줄서기 오픈 완료");
                window.location.reload();
            },
            error: function (response) {
                alert(response.responseJSON.message);
            }
        })
    }

    function closeLineup() {
        $.ajax({
            url: '/api/seller/close-lineup',
            type: 'PUT',
            headers: {
                'Authorization': localStorage.getItem('accessToken')
            },
            success: function () {
                alert("줄서기 마감 완료");
                window.location.reload();
            },
            error: function (response) {
                alert(response.responseJSON.message);
            }
        })
    }
</script>
</html>