<!DOCTYPE html>
<html>
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>메뉴추가</title>
</head>
<body>
<h1>메뉴추가</h1>
<form th:action="@{/api/seller/menu/new}" method="post" enctype="multipart/form-data">
    <label for="name">name</label>
    <input type="text" id="name" name="name"><br>
    <label for="price">price</label>
    <input type="text" id="price" name="price"><br>
    <label for="image">이미지 선택:</label>
    <input type="file" id="image" name="image"><br>
    <button type="submit">등록</button>
</form>
<script th:inline="javascript">
    const token = [[${accessToken}]];
    if (token) {
        document.cookie =
            'Authorization' + "=" + token + "; " +
            "path=/; expires=" + (new Date().getTime() + 30 * 60000) + ";";
    }
</script>
</body>
</html>