<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>판매자 수정</title>
</head>
<body>
<h1>판매자 수정</h1>
<form th:action="@{/api/seller/info/view}" method="post" enctype="multipart/form-data">
    <input type="hidden" name="_method" value="PUT"/>
    <label for="name">name</label>
    <input type="text" id="name" name="name" th:value="${userInfo.name}"><br>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" th:value="${userInfo.email}"><br>
    <label for="phoneNumber">phoneNumber</label>
    <input type="text" id="phoneNumber" name="phoneNumber" th:value="${userInfo.phoneNumber}"><br>
    <label for="nickName">nickName</label>
    <input type="text" id="nickName" name="nickName" th:value="${userInfo.nickname}"><br>
    <button type="submit">등록</button>
</form>
<script th:inline="javascript">
    const token = [[${accessToken}]];
    if (token) {
        document.cookie =
            'Authorization' + "=" + token + "; " +
            "path=/; expires=" + (new Date().getTime() + 30 * 60000) + ";";
    }
</script>
</body>
</html>